

.containers {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 50px;
  }
  
  .heading {
    text-align: center;
    color: #333;
  }
  
  .form {
    display: flex;
    flex-direction: column
  }
  
  .label {
    margin: 10px 0;
  }
  
  .input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  .button {
    padding: 10px;
    border-radius: 4px;
    background: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin: 5px 0;
  }
  